.nav_logo {
  font-weight: 700;
  font-size: 32px;
}

li.nav__item {
  font-weight: 400;
  font-size: 20px;
}

ul.nav__ul {
  display: flex;
  align-items: center;
  gap: 43px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_icon {
  display: none;
}

.clsoe_icon {
  display: none;
}

/* ----------------nav----------------- */

/* ---------------hero------------- */

h1.hero_heading {
  font-weight: 600;
  font-size: 64px;
}

p.hero_pera {
  font-weight: 400;
  font-size: 20px;
}

button.hero_btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}

input.hero_input {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

p.tag_tile {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.hero__con {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12rem;
}

.hrotext_ {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.hro_img {
  width: calc(100% / 2.3);
}

section.hero__section {
  height: 90vh;
  display: grid;
  place-content: center;
}

.hero_form_box {
  width: auto;
  display: flex;
  align-items: center;
  position: relative;
  margin: 1.5rem 0;
}
button.hero_btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  position: absolute;
  width: 140px;
  height: 59px;
  right: 0;
  border: none;
  border-radius: 15px;
  background: black;
  color: white;
  text-transform: capitalize;
}

input.hero_input {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  position: relative;
  border: none;
  outline: none;
  background: #f7f7f7;
  text-transform: capitalize;
  width: 405px;
  height: 59px;
  border-radius: 15px;
  padding: 0 1.4rem;
}

.hro_tag_line {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tag_line_1 {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.tag_line_2 {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

/* ---------------hero------------- */
